**/env
postgres/*
.vite/


# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

django/api/__pycache__/
django/backend/__pycache__/
django/api/migrations/
